/* reset */
ul, li {
    list-style-type: none;
}

/* layout */
html {
    scroll-behavior: smooth;
}
html, body {
    height: 100%;
}

/* ヘッダー */
header {
    width: 100%;
    height: 64px;
    background: #172051;
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
header img.logo-gv {
    width: 225px;
    height: 18px;
    margin-right: 48px;
}
header p {
    color: #ffffff;
    font-size: 13px;
    letter-spacing: 0.2em;
    opacity: 0.9;
}

/* コンテナ */
.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 64px;
}

/* 左カラム */
.left-column {
    width: 75%;
    height: 100%;
    background-color: #fafafa;
}
.left-column .preview-img {
    width: 100%;
    height: auto;
    padding: 32px 32px 16px 32px;
}
.left-column canvas {
    width: 100%;
    box-shadow: 20px 18px 48px 0 rgba(5, 3, 27, 0.14);
    z-index: 10;
    transition: opacity 0.5s ease-in-out; /* アニメーションの追加 */
    opacity: 1; /* 初期状態 */
}
.left-column canvas.fade-out {
    opacity: 0.5; /* フェードアウト状態  */
}
.left-column p {
    font-size: 12px;
    color: #172051;
}

/* フェードアウト */
.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
  }
  
  /* フェードイン */
.fade-in {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  /* フェードアウトアニメーション */
  @keyframes fadeOut {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-6px);
    }
  }
  
  /* フェードインアニメーション */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
      animation-timing-function: ease-in-out;
    }
  }

/* 右カラム */
.right-column {
    width: 25%;
    height: 100%;
    background: #EEF2FA;
    padding: 24px 24px 96px 24px;
    /* box-sizing: border-box; */
    overflow-y: auto;
}
.right-column dd, .thumbnails {
    color: #172051;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 4px;
}
.right-column dd span, .thumbnails span {
    margin-left: 12px;
    color: #949494;
    font-size: 12px;
    font-weight: normal;
}
.right-column dt {
    margin-bottom: 20px;
}
.right-column dt.two-col {
    display: flex;
    justify-content: space-between;
}
.right-column dt input {
    background: #ffffff;
    border: 1px solid #E1E7F4;
    width: 100%;
    padding: 8px 8px 8px 12px;
    border-radius: 4px;
    font-size: 14px;
}

.right-column dt input[type="text"]:focus {
    border: 1px solid #C6D1F2;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* 枠線の周りに青いぼかしを追加 */
}
.right-column dt.two-col input {
    width: 48%;
}
.right-column dt input::placeholder {
    opacity: 0.5;
}
.right-column .thumbnails ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.right-column .thumbnails li {
    width: 48%;
    margin-top: 3%;
}
.right-column .thumbnails li img {
    width: 100%;
    height: fit-content;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.06);
}
.right-column li img:hover {
    border: 1px solid #C6D1F2;
}

/* ダウンロード */
.download {
    position: fixed;
    width: 100%;
    height: 80px;
    bottom: 0;
    left: 0;
    margin-top: 12px;
    background: #ffffff;
    padding: 12px 0;
    z-index: 20;
    text-align: center;
    box-shadow: 0 -4px 12px 4px rgba(0,0,0,0.04);
}
.download button {
    width: 280px;
    height: 56px;
    /* background: #172051; */
    color: #172051;
    border-radius: 4px;
    background-color: #fff;
    position: relative;
    border: 1px solid #172051;
    transition: color 0.5s ease;
  }
  .download button:hover {
    color: #fff;
  }
  .download button:hover::before {
    transform: scaleX(1);
    transform-origin: left;
  }
  .download button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #172051;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.5s ease;
    transition-property: transform;
  }
  .text {
    position: relative;
  }
